body {
    margin: 0;
}

@font-face {
    font-family: 'Goldman-Regular';
    src: local('Goldman-Regular'),
        url(/public/fonts/Goldman/Goldman-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'KaushanScript-Regular';
    src: local('KaushanScript-Regular'),
        url(/public/fonts/Kaushan_Script/KaushanScript-Regular.ttf)
            format('truetype');
}

@font-face {
    font-family: 'Bangers';
    src: local('Bangers'),
        url(/public/fonts/Bangers/Bangers-Regular.ttf) format('truetype');
}
